<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>乐淘商城-搜索页</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="lib/mui/css/mui.css">
    <link rel="stylesheet" href="lib/fa/css/font-awesome.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/search.css">

</head>

<body>

    <div class="lt_container">

        <div class="lt_header">
            <!-- href 后面跟跳转地址 javascript:表示页面不跳转  后面跟js代码,会执行 -->
            <a class="icon_left" href="javascript:history.go(-1)">
                <span class="mui-icon mui-icon-back"></span>
            </a>
            <h4>搜索中心</h4>

        </div>
        <!-- 内容部分 -->
        <div class="lt_main">
            <!-- 搜索 -->
            <div class="lt_search">
                <input type="text" placeholder="请输入搜索关键字" class="search_input">
                <button class="mui-btn mui-btn-blue search_btn">搜索</button>


            </div>


            <!-- 分类右边自适应 -->
            <div class="lt_histoyr">
                <!-- 标题,左右两个span -->
                <div class="title mui-clearfix">
                    <div class="title_left mui-pull-left">
                        <span class="">搜索历史</span>
                    </div>

                    <div class="title_right mui-pull-right ">
                        <span class="fa fa-trash"></span>
                        <span class="btn_empty">清空记录</span>
                    </div>

                </div>
                <!-- 搜索历史的内容 -->

                <div class="content">

                    <ul class="mui-clearfix">
                        <li>
                            <a href="#" class="mui-pull-left">1</a>
                            <span class="mui-icon mui-icon-closeempty mui-pull-right btn_delete"></span>
                        </li>

                        <li>
                            <a href="#" class="mui-pull-left">1</a>
                            <span class="mui-icon mui-icon-closeempty mui-pull-right btn_delete"></span>
                        </li>

                        <li>
                            <a href="#" class="mui-pull-left">1</a>
                            <span class="mui-icon mui-icon-closeempty mui-pull-right btn_delete"></span>
                        </li>

                        <li>
                            <a href="#" class="mui-pull-left">1</a>
                            <span class="mui-icon mui-icon-closeempty mui-pull-right btn_delete"></span>
                        </li>

                        <li>
                            <a href="#" class="mui-pull-left">1</a>
                            <span class="mui-icon mui-icon-closeempty mui-pull-right btn_delete"></span>
                        </li>
                    </ul>

                </div>
            </div>


        </div>

        <!-- 尾部 -->
        <div class="lt_footer">
            <ul class="mui-clearfix">
                <li>
                    <a href="index.html">
                        <span class="fa fa-home"></span>
                        <p>首页</p>
                    </a>
                </li>
                <li class="now">
                    <a href="category.html">
                        <span class="fa fa-bars"></span>
                        <p>分类</p>
                    </a>
                </li>
                <li>
                    <a href="cart.html">
                        <span class="fa fa-shopping-cart"></span>
                        <p>购物车</p>
                    </a>
                </li>
                <li>
                    <a href="user.html">
                        <span class="fa fa-user"></span>
                        <p>会员中心</p>
                    </a>
                </li>
            </ul>
        </div>

    </div>


    <script src="lib/mui/js/mui.js"></script>
    <script src="./lib/artTemplate/template-web.js"></script>
    <script src="./lib/zepto/zepto.min.js"></script>
    <script src="js/common.js"></script>
    <script src="./js/search.js"></script>


    <!-- 搜索历史模板 -->
    <script type="text/html" id="tpl">
       {{ if list.length===0 }}
          <p>没有历史记录</p>
       {{ /if}}

       {{ if list.length>0 }}
       <!-- 标题,左右两个span -->
       <div class="title mui-clearfix">
            <div class="title_left mui-pull-left">
                <span class="">搜索历史</span>
            </div>

            <div class="title_right mui-pull-right ">
                <span class="fa fa-trash"></span>
                <span class="btn_empty">清空记录</span>
            </div>

        </div>
        <!-- 搜索历史的内容 -->

        <div class="content">

            <ul class="mui-clearfix">
                {{ each list v i }}
                <li>
                    <a href="searchList.html?key={{v}}" class="mui-pull-left">{{v}}</a>
                    <span class="mui-icon mui-icon-closeempty mui-pull-right btn_delete" data-index="{{i}}"></span>
                </li>
                {{/each}}
            </ul>

        </div>
        {{ /if}}
    </script>


    <!-- 右边的模板 -->




</body>

</html>