.mui-scroll-wrapper {
  margin-top: 90px;
}
.lt_sort {
  height: 30px;
  line-height: 30px;
  background-color: #eee;
  padding: 0 10px;
}
.lt_sort li {
  float: left;
  width: 25%;
  text-align: center;
  font-size: 12px;
}
.lt_sort li a {
  color: #333;
}
.lt_sort li.active a {
  color: darkorange;
}
.now {
  background-color: darkorange;
}
.goumai {
  display: block;
  width: 80px;
  height: 33px;
  margin: 0 auto;
}
.goumai #btn-buy {
  width: 80px;
  height: 33px;
}
